@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 10% 90%;
    --foreground: 50 10% 10%;
    --card: 50 10% 90%;
    --card-foreground: 50 10% 15%;
    --popover: 50 10% 90%;
    --popover-foreground: 50 10% 15%;
    --primary: 50 10% 20%;
    --primary-foreground: 50 10% 85%;
    --secondary: 50 10% 80%;
    --secondary-foreground: 50 10% 15%;
    --muted: 50 10% 70%;
    --muted-foreground: 50 10% 35%;
    --accent: 50 10% 80%;
    --accent-foreground: 50 10% 15%;
    --destructive: 10 40% 60%;
    --destructive-foreground: 50 10% 15%;
    --success: 135 40% 60%;
    --success-foreground: 50 10% 15%;
    --warning: 35 40% 60%;
    --warning-foreground: 50 10% 15%;
    --border: 50 10% 15%;
    --input: 50 10% 80%;
    --ring: 50 20% 15%;
    --radius: 1rem;
  }

  .dark {
    --background: 50 10% 10%;
    --foreground: 50 10% 95%;
    --card: 50 10% 10%;
    --card-foreground: 50 10% 90%;
    --popover: 50 10% 10%;
    --popover-foreground: 50 10% 90%;
    --primary: 50 10% 85%;
    --primary-foreground: 50 10% 20%;
    --secondary: 50 10% 20%;
    --secondary-foreground: 50 10% 90%;
    --muted: 50 10% 30%;
    --muted-foreground: 50 10% 65%;
    --accent: 50 10% 20%;
    --accent-foreground: 50 10% 90%;
    --destructive: 10 40% 40%;
    --destructive-foreground: 50 10% 90%;
    --success: 135 40% 40%;
    --success-foreground: 50 10% 90%;
    --warning: 35 40% 40%;
    --success-foreground: 50 10% 90%;
    --border: 50 10% 90%;
    --input: 50 10% 20%;
    --ring: 50 20% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
